* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden; /* Убираем прокрутку */
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0; /* Убираем отступы по умолчанию */
}
